@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

input[type="number"] {
  max-width: 80%;
}

.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

.navbar {
position: relative;
min-height: 80px;
margin-bottom: 20px;
width: 120%;
margin-left: -20px;
background-color:#003366!important;
}

.container-fluid {
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
background: "d3d3d3";
}

div.container-fluid {
background: "d3d3d3";
}

img {
margin-top: -10px;
}


.overview {
    background: linear-gradient(rgba(255, 180, 81, 0.85), 
                rgba(255, 180, 81, 0.85)),url("background-1.jpg");
    background-size: 100% auto;
    color: #2d2d2d;
    padding: 10px;
    width:120%;
    font-weight: 900;
    margin-left: -30px;
    margin-right: -20px;
    margin-top: -22px;
    margin-bottom: -20px;
}

.overview-2 {
    background: linear-gradient(rgba(135, 187, 222, 0.85), 
                rgba(135, 187, 222, 0.85)),url("background-2.jpg");
    background-size: 100% auto;
    color: #2d2d2d;
    padding: 10px;
    width:120%;
    font-weight: 900;
    margin-left: -30px;
    margin-right: -20px;
    margin-top: -22px;
    margin-bottom: -20px;
}

.navbar-brand a{
  color:#fff;
}

.navbar-default .navbar-nav>li>a {
color: #fff;
font-size: 25px;
padding-top: 30px;
padding-bottom: 30px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
color: #e3e3e3;
}

.explainers{
  font-size:18px;
  line-height:1.5;
  
}

.leaflet-top .leaflet-control {
  margin-top: 20px;
}

.btn {
  background-color: #3d3d3d;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

#downloadggplot { 
  float: right;
}

/* #mod1Plot {
  padding-top:20px;
} */

.btn.focus, .btn:focus, .btn:hover {
  color: rgb(220, 220, 220);
  text-decoration: none;
}

#controls {
background-color: white;
padding: 0 20px 20px 20px;
cursor: move;
opacity: 0.55;
zoom: 1;
transition: opacity 500ms 1s;
}

/* Customize fonts */
body, label, input, button, select { 
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.navbar-default {
  background-color: #000; 
  border-color: #000;
}

.navbar-default .navbar-brand {
  color: #00ff00;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 32px;
  font-weight: 900;
  line-height: 20px;
}

.nav>li {
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 700;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
color: #fff;
background-color: #004991;
}

h1, h2, h3, h4 { font-weight: 700; }

#controls {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
#controls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

/* Position and style citation */
#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
  font: 12px/1.5 "Roboto", Arial, Helvetica, sans-serif;
}

.info {
  font: 14px/16px "Roboto", Helvetica, sans-serif !important;
}
